{% extends 'base.html' %}

{% block 'head' %} 
    <style>
        #id_nome{
            border: 1px solid red;
        }


        #id_idade{            
            border: 2px solid blue;
        }

    </style>
{% endblock %}

{% block 'conteudo' %} 
<br>

<div class="container">
    <h1> Você esta no sistema</h1>
    <br>
    <form action="{% url 'home' %}" method="POST">{% csrf_token %}
        {{form}}
        <br>
        <input type="submit" class="btn btn-success">
    </form>
</div>

{% endblock %}
